body {
    font-family:'Segoe UI', Arial, Verdana;
}

.hidden{display:none;}

.ui{
    &.menu{
        .item{
            background-color:whitesmoke;
            padding:5px;
            font-size:small;
            text-decoration:none;
            line-height:35px;
            color:black;
            cursor:pointer;
            white-space:nowrap;

            &.active{
                background-color:black;
                color:white;
            }
        }

        .item:hover{
            background-color:#e8e8e8;

            &.active{
                background-color:black;
                color:white;
                cursor:default;
            }
        }

        .right{
            float:right;
        }
    }
}
