body {
  font-family: 'Segoe UI', Arial, Verdana;
}
.hidden {
  display: none;
}
.ui.menu .item {
  background-color: whitesmoke;
  padding: 5px;
  font-size: small;
  text-decoration: none;
  line-height: 35px;
  color: black;
  cursor: pointer;
  white-space: nowrap;
}
.ui.menu .item.active {
  background-color: black;
  color: white;
}
.ui.menu .item:hover {
  background-color: #e8e8e8;
}
.ui.menu .item:hover.active {
  background-color: black;
  color: white;
  cursor: default;
}
.ui.menu .right {
  float: right;
}
