.banner-square {
   width:282px;
   height:282px;
   margin-bottom:5px;   
   position:relative;
}

.banner-square .banner-label {
    margin:auto;
    padding:0;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
