
.config {

}
    .config h2 {
        font-size:12px;
    }
    .config .jf-data-grid {
        height:250px;
        overflow:auto;
        border-top:1px dashed lightgray;
        border-bottom:1px dashed lightgray;
    }
    .config .jf-tbl {
        cellpadding:0;
        cellspacing:2px;
    }
    .config .table-header {
        color:gray;
        font-size:small;
    }

    .config .table-content-row {
        cursor:pointer;
        
    }
    .config .table-filter select {
        width:100%;
    }
    .config .table-content-row:hover {
        background-color:lightgray;
    }

    .config .jf-col1 {
        height:100%;
        margin-left:-3px;
        padding-left:3px;
    }
    .config .jf-col1.selected {
        border-left:2px solid orange;
        padding-left:1px;
        border-bottom:1px dashed orange;
        background-color: #fed892;
    }


    .config .jf-tbldetail {
        margin-top:30px;
    }
        .config .jf-tbldetail td {
            vertical-align:top;
            padding-top:5px;
        }
        .config .jf-tbldetail .label {
            font-size:10px;
            text-align:right;
            width:157px;
            padding-top:10px;
        }














