

        body {
            background-color:whitesmoke;
            color:black;
            font-family:"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
        }

        .resized-full-area {
            width:100%;
            height:100%;
        }


        .Absolute-Center-headphones {
          width: 150px;
          height: 150px;
          overflow: auto;
          margin: auto ;
          position: absolute;
          top: 0; bottom: 0;
          left: 0;  right: 0;
        }

        .Absolute-Center-onitsway {
          width: 210px;
          height: 40px;
          overflow: auto;
          margin: auto;
          position: absolute;
          top: 100px; left: 0; bottom: 0; right: 0;
        }


        .rtp-billboard {
            height:300px;
            margin-top:0;
            margin-bottom: 0;
            border:1px dotted white;
            background-color:transparent;
            position:absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            padding:10px;
        }


        .rtp-workarea {
            height:auto;
            margin-top:0;
            margin-bottom: 0;
            border:1px dotted white;
            background-color:transparent;
            position:absolute;
            top: 330px; left: 0; bottom: 0; right: 0;
            padding:10px;
        }




.text-quote {
    font: italic 1.6em Georgia,"Times New Roman",Times,serif;
}



.areaslist .col {
    width:200px;
}


.config {

}
    .config .jf-data-grid {
        height:150px;
        overflow:auto;
        border-top:1px solid lightgray;
        border-bottom:1px solid lightgray;
    }
    .config .jf-tbl {
        cellpadding:0;
        cellspacing:2px;
    }
    .config .table-header {
        color:gray;
        font-size:small;
    }

    .config .table-content-row {
        cursor:pointer;
        
    }
    .config .table-content-row:hover {
        background-color:lightgray;
    }

 