

        body {
            background-color:whitesmoke;
            color:black;
            font-family:"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
            margin:0;
            padding:0;
        }

        .resized-full-area {
            width:100%;
            height:100%;
        }


        .Absolute-Center-headphones {
          width: 150px;
          height: 150px;
          overflow: auto;
          margin: auto ;
          position: absolute;
          top: 0; bottom: 0;
          left: 0;  right: 0;
        }

        .Absolute-Center-onitsway {
          width: 210px;
          height: 40px;
          overflow: auto;
          margin: auto;
          position: absolute;
          top: 100px; left: 0; bottom: 0; right: 0;
        }


        .rtp-billboard {
            height:300px;
            margin-top:0;
            margin-bottom: 0;
            border:1px dotted white;
            background-color:transparent;
            position:absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            padding:10px;
        }


        .rtp-workarea {
            height:auto;
            margin-top:0;
            margin-bottom: 0;
            border:1px dotted white;
            background-color:transparent;
            position:absolute;
            top: 330px; left: 0; bottom: 0; right: 0;
            padding:10px;
        }

.hidden {
    display:none;
}



#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}


.text-quote {
    font: italic 1.6em Georgia,"Times New Roman",Times,serif;
}
.slash {
    font-size:20px;
    font-weight:bold;
    margin-left:5px;
}


.areaslist .col {
    width:200px;
}





/* ====== */
/* CONFIG */
/* ====== */
.config {

}
    .config .jf-data-grid {
        height:150px;
        overflow:auto;
        border-top:1px solid lightgray;
        border-bottom:1px solid lightgray;
    }
    .config .jf-tbl {
        cellpadding:0;
        cellspacing:2px;
    }
    .config .table-header {
        color:gray;
        font-size:small;
    }

    .config .table-content-row {
        cursor:pointer;
        
    }
    .config .table-filter select {
        width:100%;
    }
    .config .table-content-row:hover {
        background-color:lightgray;
    }

    .config .jf-col1 {
        height:100%;
        margin-left:-3px;
        padding-left:3px;
    }
    .config .jf-col1.selected {
        border-left:2px solid cyan;
        padding-left:1px;
        border-bottom:1px dashed cyan;
    }


    .config .jf-tbldetail {
        margin-top:30px;
    }

        .config .jf-tbldetail .label {
            font-size:10px;
            text-align:right;
            width:157px;
        }
















/* ======== */
/* TOP MENU */
/* ======== */
.ui.menu {
    padding-bottom:10px;
    border-bottom:1px dashed lightgray;
    margin-bottom:10px;
}
    .ui.menu .item {
      background-color: whitesmoke;
      padding: 5px;
      font-size: small;
      text-decoration: none;
      line-height: 35px;
      color: black;
      cursor: pointer;
      white-space: nowrap;
    }
    .ui.menu .item.ico-home {
      background-image: url('/content/icons/House-black.png');
      background-size: 25px;
      background-repeat: no-repeat;
      padding-left: 25px;
    }
    .ui.menu .item.ico-user {
      background-image: url('/content/icons/User-Male-black.png');
      background-size: 25px;
      background-repeat: no-repeat;
      padding-left: 25px;
    }
    .ui.menu .item.active {
      background-color: black;
      color: white;
    }
    .ui.menu .item.active.ico-home {
      background-image: url('/content/icons/House-white.png');
    }
    .ui.menu .item.active.ico-user {
      background-image: url('/content/icons/User-Male-white.png');
    }
    .ui.menu .item:hover {
      background-color: #e8e8e8;
    }
    .ui.menu .item:hover.active {
      background-color: black;
      color: white;
      cursor: default;
    }
    .ui.menu .right {
      float: right;
    }