.file-storage-picker {
    overflow:auto;
    
    
    margin:auto;
    position:absolute;
    padding:7px 5px 7px 5px;
}
    .file-storage-picker .item {
        /*float:left;
        margin-right:5px;
        
        position:relative;*/
        margin-bottom:2px;
        cursor:pointer;
        min-height:25px;
        border-left:4px solid lightgray;
        vertical-align:central;
        padding-left:10px;
        width:90%;

    }
    .file-storage-picker .item:hover {
        background-color:lightgray;
        color:white;
    }

        .file-storage-picker .item.selected {
            background-color:lightgray;
            color:white;
        }
