/* big use of justified lib for laying out list of pics http://miromannino.github.io/Justified-Gallery/  */

.file-storage-list {
        overflow:auto;
        border:1px solid #e5e5e5;
        background-color:#e5e5e5;
        margin:auto;
        position:absolute;
        left:0; top:0;right:0;bottom:0;
        padding:7px 5px 7px 5px;
    }
    .file-storage-list .item {
        /*float:left;
        margin-right:5px;
        margin-bottom:5px;
        position:relative;*/
        cursor:pointer;
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    }

        .file-storage-list .item.selected {
            border-left: 5px solid orange;
        }

        .file-storage-list .item .sz {
            color:white;
            position:absolute;
            left:5px; top:5px;
            margin:auto;
            background-color:rgba(0, 0, 0, 0.26);
        }
        .file-storage-list .item .ofn {
        }
        .file-storage-list .item .ct {
            color:white;
            position:absolute;
            right:5px; bottom:10px;
            margin:auto;
            font-size:10px;
            background-color:rgba(0, 0, 0, 0.26);
        }
