.login {
    margin-left: 5px;
}

    .login .login-label {
        text-align: right;
    }

    .login .login-input {
        width: 100%;
    }

    .login .login-name {
        font-weight: bold;
        background-color: black;
        color: white;
        padding: 5px;
    }
    .login .login-session {
        margin-top:20px;
        font-weight: lighter;
        font-style:italic;
        color: lightgray;
    }