.page-lite {
   margin-left:5px;
}

    .page-lite h1,h2,h3,h4,h5 {
        padding:0;
        margin:0;
    }

    .page-lite .pl-title {
        position:absolute;
        padding:0 10px 0 10px;
        margin:0;
        bottom:0;
        left:0;
        background-color:rgba(255, 255, 255, 0.45);

    }
        
