.shader-toy {}
    .shader-toy #player {
        width:100%;
    }
    .shader-toy #demogl {
        width:100%;
    }

    .shader-toy .actions {
        padding:5px;
        height:26px;
        width:100%;
        background-color:#e6e6e6;
    }

    .shader-toy .float-left {
        float:left;
    }
    .shader-toy .float-right {
        float:right;
    }

    .shader-toy .marl-10 {
        margin-left:10px;
    }

    .shader-toy .marr-20 {
        margin-right:20px;
    }

    .shader-toy .inputs {
        padding:5px;
        width:100%;
        height:40px;
    }