<div class="config ui menu">

    <a href="/#/home" class="item ico-home" data-id="home">Home</a><span class="slash">/</span>
    <a href="/#/config" class="item" data-id="config">Configuration</a>

    <span data-id="menu-config">
        <span class="slash">/</span>
        <a href="/#/config/area" class="item" data-id="area">Area</a>
        <a href="/#/config/banner" class="item" data-id="banner">Banner</a>
        <a href="/#/config/comment" class="item" data-id="comment">Comment</a>
        <a href="/#/config/datacenter" class="item" data-id="datacenter">DataCenter</a>
        <a href="/#/config/document" class="item" data-id="document">Document</a>
        <a href="/#/config/editor" class="item" data-id="editor">Editor</a>
        <a href="/#/config/extension" class="item" data-id="extension">Extension</a>
        <a href="/#/config/grouping" class="item" data-id="grouping">Grouping</a>
        <a href="/#/config/image" class="item" data-id="image">Image</a>
        <a href="/#/config/install" class="item" data-id="install">Install</a>
        <a href="/#/config/link" class="item" data-id="link">Link</a>
        <a href="/#/config/list" class="item" data-id="list">List</a>
        <a href="/#/config/log" class="item" data-id="log">Log</a>
        <a href="/#/config/map" class="item" data-id="map">Map</a>
        <a href="/#/config/page" class="item" data-id="page">Page</a>
        <a href="/#/config/permission" class="item" data-id="permission">Permission</a>
        <a href="/#/config/post" class="item" data-id="post">Post</a>
        <a href="/#/config/service" class="item" data-id="service">Service</a>
        <a href="/#/config/session" class="item" data-id="session">Session</a>
        <a href="/#/config/setting" class="item" data-id="setting">Setting</a>
        <a href="/#/config/theme" class="item" data-id="theme">Theme</a>
        <a href="/#/config/user" class="item ico-user" data-id="user">User</a>
        <a href="/#/config/version" class="item" data-id="version">Version</a>
        <a href="/#/config/video" class="item" data-id="video">Video</a>
    </span>
</div>

