<div class="config ui menu">

    <a href="/#/home" class="item ico-home" data-id="home"></a>
    <span class="slash">/</span>
    <a href="/#/config" class="item ico-config" data-id="config">Configuration</a>

    <span data-id="menu-config">
        <span class="slash">/</span>
        <a href="/#/config/area" class="item ico-area" data-id="area">Area</a>
        <a href="/#/config/banner" class="item ico-banner" data-id="banner">Banner</a>
        <a href="/#/config/comment" class="item ico-comment" data-id="comment">Comment</a>
        <a href="/#/config/datacenter" class="item ico-datacenter" data-id="datacenter">DataCenter</a>
        <a href="/#/config/document" class="item ico-document" data-id="document">Document</a>
        <a href="/#/config/editor" class="item ico-editor" data-id="editor">Editor</a>
        <a href="/#/config/extension" class="item ico-extension" data-id="extension">Extension</a>
        <a href="/#/config/grouping" class="item ico-group" data-id="grouping">Grouping</a>
        <a href="/#/config/image" class="item ico-image" data-id="image">Image</a>
        <a href="/#/config/install" class="item ico-install" data-id="install">Install</a>
        <a href="/#/config/link" class="item ico-link" data-id="link">Link</a>
        <a href="/#/config/list" class="item ico-list" data-id="list">List</a>
        <a href="/#/config/log" class="item ico-log" data-id="log">Log</a>
        <a href="/#/config/map" class="item ico-map" data-id="map">Map</a>
        <a href="/#/config/page" class="item ico-page" data-id="page">Page</a>
        <a href="/#/config/permission" class="item ico-security" data-id="permission">Permission</a>
        <a href="/#/config/post" class="item ico-post" data-id="post">Post</a>
        <a href="/#/config/service" class="item ico-service" data-id="service">Service</a>
        <a href="/#/config/session" class="item ico-session" data-id="session">Session</a>
        <a href="/#/config/setting" class="item ico-setting" data-id="setting">Setting</a>
        <a href="/#/config/theme" class="item ico-theme" data-id="theme">Theme</a>
        <a href="/#/config/user" class="item ico-user" data-id="user">User</a>
        <a href="/#/config/version" class="item ico-version" data-id="version">Version</a>
        <a href="/#/config/video" class="item ico-video" data-id="video">Video</a>
        <a data-id="test">pubsub call to config.js(controller) from configmenu.js(directive)</a>
    </span>

</div>

