<div class="extension-lite">

    <table>
        <tr ng-repeat="item in ELExtensions" ng-include="'ellist1.html'"></tr>
    </table>
    


    

    <script type="text/ng-template" id="ellist1.html">
        <td>
            <style type="text/css">
                {{item.ExtensionStyleLite}}
            </style>
            
            <div>
                <div class="extension-label">{{item.LongName}}</div>
                <div ng-bind-html="item.ExtensionHtmlLite"></div>
            </div>
        </td>
    </script>
</div>
