<div class="file-storage-list" style="bottom:{{Bottom}};top:{{Top}};left:{{Left}};right:{{Right}};">


    <div id="fsl">
        <div 
             ng-click="scope.ItemSelected"
           ng-repeat="item in ItemsList" ng-include="'itemlist.html'" 
           class="item" target="_blank"></div>

        <script type="text/ng-template" id="itemlist.html">
            <img src="http://austoragetest.blob.core.windows.net/temp-upload-thumb/{{item.Name}}"  />
            <div class="sz">{{item.SizeKB}}KB</div>
            <div class="ct">{{item.ContentType}}</div>
        </script>
    </div>


 </div>
