<div>
    <div class="file-upload">
        <!-- \\modern\common\components\nps-file-upload.js  -->
        <!-- \\controls\filetransfer\ucFileUploadAll.ascx  -->

        <div id="drop_area" class="uploaderContainer clearfix" ng-cloak>
            <table class="upload-tble">
                <colgroup>
                    <col style="width:120px;" />
                    <col />
                    <col style="width:120px;"/>
                </colgroup>
                <tr>
                    <td><button id="browse_button" disabled="">+ Files</button></td>
                    <td><div class="drag-drop-label">Drop files here <span class="upload-count">({{FileUploadRefCounter}} to upload)</span></div></td>
                    <td><button id="start_button" disabled="">Start Upload</button></td>
                </tr>
            </table>
        </div>

    </div>
</div>


