<div>
    <style type="text/css">
        .file-upload {
            width: 100%;
        }
            .file-upload .browse_button {
            }
            .file-upload .start_button {

            }
            .file-upload .upload-tble {
                width:100%;
            }
            .file-upload .uploaderContainer {
                width: 100%;
                padding-top:10px;
                padding-bottom:10px;
                background-color: Highlight;
                color: white;
                text-align: center;
            }
            .file-upload .drag-drop-label {
                font-size:14px;
                font-weight:bold;
                margin-left:30px; 
                margin-right:30px;
                color:#b0e4f7;
            }
            .file-upload .upload-count {
                font-size:10px;
                font-weight:normal;
                margin-left:10px;
            }
            .file-upload .uploaderContainer {

            }

            
    </style>

    <div class="file-upload">
        <!-- \\modern\common\components\nps-file-upload.js  -->
        <!-- \\controls\filetransfer\ucFileUploadAll.ascx  -->

        <div id="drop_area" class="uploaderContainer clearfix" ng-cloak>
            <table class="upload-tble">
                <colgroup>
                    <col style="width:120px;" />
                    <col />
                    <col style="width:120px;"/>
                </colgroup>
                <tr>
                    <td><button id="browse_button" disabled="">Attach Files</button></td>
                    <td><div class="drag-drop-label">Drop files here <span class="upload-count">({{FileUploadRefCounter}} to upload)</span></div></td>
                    <td><button id="start_button" disabled="">Start Upload</button></td>
                </tr>
            </table>
            

            

            
        </div>

        

        

    </div>

</div>


