<div class="file-storage-billboard" >

    <div id="fsbttn" > </div>

    <div id="fsli1">
        <div ng-click="FSBItemSelected($event)" 
             ng-repeat="item in FSBItemsList"
             ng-include="'fsbitemlist.html'"
             data-id="{{item.DisplayId}}"
             class="item" ng-style="{'width': FSBItemWidth, 'height': FSBItemHeight}" ></div>

        <script type="text/ng-template" id="fsbitemlist.html">
            <div ng-style="{'background': 'url(http://austoragetest.blob.core.windows.net/{{item.Grouping}}-thumb-m/{{item.Name}})', 'background-repeat': 'no-repeat', 'background-size' : 'cover' }" />
        </script>
    </div>

    <div id="fsbli" ng-style="{ 'width' : FSBItemWidth}">
        <div 
             ng-repeat="item in FSBItemsList"
             ng-include="'fsbitemlist2.html'"
             data-id="{{item.DisplayId}}"
             class="itemno" ></div>

        <script type="text/ng-template" id="fsbitemlist2.html">
            
        </script>
    </div>


 </div>
