<div class="page-lite" >
    <link ng-repeat="item1 in PLFonts" href='{{item1.Url}}' rel='stylesheet' type='text/css' />
    <style type="text/css">
        {{PLStyle}}
    </style>
    <div style="background: url('http://austoragetest.blob.core.windows.net/{{PLBannerPhoto.Grouping}}-thumb-m/{{PLBannerPhoto.Name}}'); " class="pgl-banner" >
        
        <div class="pgl-title"><h1><span class="pgl-titlelabel">{{PLTitle}}</span></h1></div>
    </div>
    <h2></h2>
    <h3></h3>
    <h4></h4>


   




    <div class="pgl-posts">
        <div ng-repeat="post in PLPosts" ng-include="'postlist.html'"></div>
    </div>
    



    <script type="text/ng-template" id="postlist.html">
        <a href="/#/post?n={{post.Name}}&g={{PLGroup}}" class="pgl-link">{{post.LongName}}</a>
    </script>

</div>


