<div class="page-lite" >
    <link ng-repeat="item1 in PLFonts" href='{{item1.Url}}' rel='stylesheet' type='text/css' />
    <style type="text/css">
        {{PLStyle}}
    </style>
    <div style="background: url('http://austoragetest.blob.core.windows.net/{{PLBannerPhoto.Grouping}}-thumb-m/{{PLBannerPhoto.Name}}'); background-repeat: no-repeat; background-size : cover; width : 100%; height : 150px; position:relative; " >
        
        <div class="pl-title"><h1><span class="page-title">{{PLTitle}}</span></h1></div>
    </div>
    <h2></h2>
    <h3></h3>
    <h4></h4>


   





    <div ng-repeat="post in PLPosts"
        ng-include="'postlist.html'" class="page-posts"></div>



    <script type="text/ng-template" id="postlist.html">
        <a href="/#/post?n={{post.Name}}&g={{PLGroup}}">{{post.LongName}}</a>
    </script>

</div>


