<div class="post-lite" >
    <link ng-repeat="item1 in PsLFonts" href='{{item1.Url}}' rel='stylesheet' type='text/css' />

    <style type="text/css">
        {{PsLStyle}}
    </style>

    <div class="post-title"><h1>{{PsLData.LongName}}</h1></div>
    <h2></h2>
    <h3></h3>
    <div class="post-abstract"><h4>{{PsLData.Abstract}}</h4></div>

    <div ng-bind-html="PsLData.Details" class="post-details"></div>


    <div class="postPics" style="position:relative;">
        <d-file-storage-billboard 
            da-hide-numbers="false"
            da-height="300px" da-width="500px"
            da-item-height="300px" da-item-width="490px"
            da-left="10px" da-top="20px" da-cn="phone"></d-file-storage-billboard>
    </div>
</div>


