<div class="post-lite" >
    <link ng-repeat="item1 in PsLFonts" href='{{item1.Url}}' rel='stylesheet' type='text/css' />

    <style type="text/css">
        {{PsLStyle}}
    </style>

    <div style="background: url('http://austoragetest.blob.core.windows.net/{{PsLBannerPhoto.Grouping}}-thumb-m/{{PsLBannerPhoto.Name}}'); " class="pl-banner">

        <div class="pl-title"><h1>{{PsLData.LongName}}</h1></div>
    </div>
    
    <h2></h2>
    <h3></h3>
    <div class="pl-abstract"><h4>{{PsLData.Abstract}}</h4></div>

    <div ng-bind-html="PsLData.Details" class="pl-details"></div>


    <div class="postPics" style="position:relative;">
        <d-file-storage-billboard 
            da-hide-numbers="false"
            da-height="300px" da-width="500px"
            da-item-height="300px" da-item-width="500px"
            da-cn=""></d-file-storage-billboard>
    </div>
</div>


