<div class="shader-toy" style="overflow:hidden;">
    <div id="player">
        <canvas id="demogl"></canvas>
    </div>

    <div class="actions">
        <div class="float-left">{{uiData.ShaderCharCounter}}</div>
        <div class="float-left marl-10">{{uiData.FrameRate}}</div>
        <div class="float-right marr-20"><input id="butUpdateShader" type="button" value="Update Shader" /></div>
    </div>

    <div id="editor"></div>
    
    <div class="actions">
        <div class="float-left">{{uiData.ShaderCharCounter}}</div>
        <div class="float-left marl-10">{{uiData.FrameRate}}</div>
        <div class="float-right marr-20"><input id="butUpdateShader" type="button" value="Update Shader" /></div>
    </div>

    <div id="passManager"></div>
</div>

