body {
    font-family:'Segoe UI', Arial, Verdana;
    margin:0px;
}

.hidden{display:none;}

.header-strip-container{

    background-color:#3d3d3d;
    color:#f2f2f2;
    height:30px;
    width:100%;

    .ui{
        &.hstrip{
            font-size:14px;
            padding:5px;

            div{float:left; margin-right:20px;}
        }
    }
}

.menu-container{
    .ui{

        background-color:#257ad7;
        height:28px;
        &.menu{
            .item{
                background-color:#257ad7;
                padding:5px;
                font-size:small;
                text-decoration:none;
                //line-height:35px;
                color:white;
                cursor:pointer;
                white-space:nowrap;
                float:left;

                &.ico-home{
                    background-image:url('/content/House-white.png');
                    background-size: 25px;
                    background-repeat:no-repeat;

                    padding-left:25px;
                }
                &.ico-user{
                    background-image:url('/content/User-Male-white.png');
                    background-size: 25px;
                    background-repeat:no-repeat;

                    padding-left:25px;
                }

                &.active{
                    background-color:white;
                    color:black;

                    &.ico-home{
                        background-image:url('/content/House-black.png');
                    }
                    &.ico-user{
                        background-image:url('/content/User-Male-black.png');
                    }
                }
            }

            .item:hover{
                background-color:#1f65b1;
            
                &.active{
                    background-color:white;
                    color:black;
                    cursor:default;
                }
            }

            .right{
                float:right;
            }
        }
    }
}

