<div class="ui menu">
    <a class="item active ico-home" href="/Home">Home</a>
    
    <a class="item" href="/GameOS">Game OS</a>
    <a class="item" href="/AppOS">App OS</a>
    <a class="item" href="/SharedOS">Shared OS</a>
   
    <a class="item" href="/DirectX12">DirectX 12</a>
    <a class="item" href="/XAML">XAML</a>
    
    <a class="item ico-user" href="/About">About</a>

    <div class="right hidden ">
        <a class="item " href="javascript:;" ng-click="logOff();">Logout</a>
    </div>
</div>