<div class="ui small inverted menu">
    <a class="item" href="/Home">Home</a>
    
    <a class="item" href="/Windows9">Windows 9</a>
    <a class="item" href="/Metro">Metro</a>
    <a class="item" href="/ModernDesktop">Modern Desktop</a>
    
    <a class="item" href="/WindowsStore">Windows Store</a>
    <a class="item" href="/OneCore">OneCore</a>
    
    <a class="item" href="/DotNetNative">.NET Native</a>
    <a class="item" href="/DirectX12">DirectX 12</a>
    <a class="item" href="/XAML">XAML</a>
    
    <a class="item" href="/About">About</a>
    <div class="right menu">
        <a class="item" href="javascript:;" ng-click="logOff();">Logout</a>
    </div>
</div>