<div class="ui menu">
    <a class="item active ico-home" href="/Home">Home</a>
    
    <a class="item" href="/Windows10">Windows 10</a>
    <a class="item" href="/Metro">Metro</a>
    <a class="item" href="/ModernDesktop">Modern Desktop</a>
    
    <a class="item" href="/WindowsStore">Windows Store</a>
    <a class="item" href="/OneCore">OneCore</a>
    
    <a class="item" href="/DotNetNative">.NET Native</a>
    <a class="item" href="/DirectX12">DirectX 12</a>
    <a class="item" href="/XAML">XAML</a>
    
    <a class="item ico-user" href="/About">About</a>
    
    <div class="right hidden">
        <a class="item" href="javascript:;" ng-click="logOff();">Login</a>
    </div>
</div>