<div class="ui menu">
    <div><a class="item active ico-home" href="/Home">&nbsp;</a></div>
    
    <div><a class="item" href="/Windows10">Windows 10</a></div>
    <div><a class="item" href="/Metro">Metro</a></div>
    <div><a class="item" href="/ModernDesktop">Modern Desktop</a></div>
    
    <div><a class="item" href="/WindowsStore">Windows Store</a></div>
    <div><a class="item" href="/OneCore">Modern Core</a></div>
    
    <div><a class="item" href="/DotNetNative">.NET Native</a></div>
    <div><a class="item" href="/DirectX12">DirectX 12</a></div>
    <div><a class="item" href="/XAML">XAML</a></div>
    
    <div><a class="item ico-user" href="/About">&nbsp;</a></div>
    
    <div class="right hidden">
        <div><a class="item" href="javascript:;" ng-click="logOff();">Login</a></div>
    </div>
</div>