<link rel="stylesheet" href="/Themes/Login.css" />

<d-config-menu da-selected-tab="login"></d-config-menu>


<div class="login">
    <div ng-show="login.IsLoggedIn">
        Welcome <span class="login-name">{{login.LoggedInEntity.DisplayName}}</span>
        <div class="login-session">SessionId : {{login.LoggedInEntity.SessionId}}</div>
    </div>

    <table ng-hide="login.IsLoggedIn">
        <colgroup>
            <col />
            <col />
        </colgroup>
        <tr>
            <td class="login-label">login :</td>
            <td><input type="text" class="login-input" ng-model="login.UserName" /></td>
        </tr>
        <tr>
            <td class="login-label">password :</td>
            <td><input type="password" class="login-input" ng-model="login.Password" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input id="butLogin" type="button" value="Login" ng-click="login.AttemptLogin()" /></td>
        </tr>
    </table>
</div>

