<div class="config">
    <div>
        <a href="/#/config">Configuration</a>
    </div>

    <br />




    <div class="jf-data-grid">
        <div>
            <table>
                <colgroup>
                    <col style="width:155px" />
                    <col style="width:155px" />
                    <col style="width:155px" />
                    <col style="width:155px" />
                    <!--<col style="width:250px"  />-->
                    <col style="width:255px" />
                </colgroup>

                <tr>
                    <td><input type="text" ng-model="configcomment.SelectedComment.Grouping" style="width:150px" /></td>
                    <td><input type="text" ng-model="configcomment.SelectedComment.Name" style="width:150px" /></td>
                    <td><input type="text" ng-model="configcomment.SelectedComment.LongName" style="width:150px" /></td>
                    <td><input type="text" ng-model="configcomment.SelectedComment.Color" style="width:150px" /></td>
                    <!--<td><input type="text" ng-model="configcomment.SelectedComment.DisplayId" style="width:250px" /></td>-->
                    <td>
                        <input type="button" value="Save" ng-click="configcomment.SaveComment()" />
                        <input type="button" value="Delete" ng-click="configcomment.DeleteComment()" />
                        <input type="button" value="Clear" ng-click="configcomment.ClearEntryFields()" />
                    </td>
                </tr>


                <tr>
                    <td class="table-header">Grouping</td>
                    <td class="table-header">Name</td>
                    <td class="table-header">LongName</td>
                    <td class="table-header">Color</td>
                    <!--<td class="table-header">DisplayId</td>-->
                    <td></td>
                </tr>

                <tr ng-repeat="comment in configcomment.CommentsList"
                    ng-include="'commentlist.html'"
                    ng-click="configcomment.SelectCommentRow(comment, $event)"
                    class="table-content-row"></tr>

            </table>
        </div>

        <script type="text/ng-template" id="commentlist.html">

            <td>{{comment.Grouping}} </td>
            <td>{{comment.Name}} </td>
            <td>{{comment.LongName}} </td>
            <td>{{comment.Color}} </td>
            <!--<td>{{comment.DisplayId}} </td>-->
            <td></td>

        </script>
    </div>
</div>
