<div class="config">

    <a href="/#/home">Home</a>

    &nbsp;&nbsp;&nbsp;

    <a href="/#/config/area">Area</a>
    <a href="/#/config/comment">Comment</a>
    <a href="/#/config/datacenter">DataCenter</a>
    <a href="/#/config/document">Document</a>
    <a href="/#/config/extension">Extension</a>
    <a href="/#/config/grouping">Grouping</a>
    <a href="/#/config/image">Image</a>
    <a href="/#/config/install">Install</a>
    <a href="/#/config/link">Link</a>
    <a href="/#/config/list">List</a>
    <a href="/#/config/log">Log</a>
    <a href="/#/config/map">Map</a>
    <a href="/#/config/page">Page</a>
    <a href="/#/config/permission">Permission</a>
    <a href="/#/config/post">Post</a>
    <a href="/#/config/service">Service</a>
    <a href="/#/config/session">Session</a>
    <a href="/#/config/setting">Setting</a>
    <a href="/#/config/theme">Theme</a>
    <a href="/#/config/user">User</a>
    <a href="/#/config/version">Version</a>
    <a href="/#/config/video">Video</a>

</div>
