config


<div>
    <input type="text" ng-model="config.SelectedArea.Name" width="150" />
    <input type="text" ng-model="config.SelectedArea.LongName" width="150" />
    <input type="text" ng-model="config.SelectedArea.Color" width="150" />
    <input type="text" ng-model="config.SelectedArea.Grouping" width="150" />
    <input type="button" value="Call API Test" ng-click="config.CreateArea()" />
</div>


<div 
     ng-repeat="area in config.AreasList" 
     ng-include="'arealist.html'">
</div>




<script type="text/ng-template" id="arealist.html">
    <table>
        <colgroup>
            <col style="width:155px" />
            <col style="width:155px" />
            <col style="width:155px" />
            <col style="width:155px" />
        </colgroup>
        <tr ng-click="config.SelectAreaRow(area, $event)" >
            <td>{{area.Name}} </td>
            <td>{{area.LongName}} </td>
            <td>{{area.Color}} </td>
            <td >{{area.Grouping}} </td>
        </tr>
    </table>
</script>