<div class="config">
    <div>
        <a href="/#/config">Configuration</a>
    </div>

    <br />





    <div>
        <table>
            <colgroup>
                <col style="width:155px" />
                <col style="width:155px" />
                <col style="width:155px" />
                <col style="width:155px" />
                <!--<col style="width:250px"  />-->
                <col style="width:255px" />
            </colgroup>

            <tr>
                <td><input type="text" ng-model="configextension.SelectedExtension.Grouping" style="width:150px" /></td>
                <td><input type="text" ng-model="configextension.SelectedExtension.Name" style="width:150px" /></td>
                <td><input type="text" ng-model="configextension.SelectedExtension.LongName" style="width:150px" /></td>
                <td><input type="text" ng-model="configextension.SelectedExtension.Color" style="width:150px" /></td>
                <!--<td><input type="text" ng-model="configextension.SelectedExtension.DisplayId" style="width:250px" /></td>-->
                <td>
                    <input type="button" value="Save" ng-click="configextension.SaveExtension()" />
                    <input type="button" value="Delete" ng-click="configextension.DeleteExtension()" />
                    <input type="button" value="Clear" ng-click="configextension.ClearEntryFields()" />
                </td>
            </tr>


            <tr>
                <td class="table-header">Grouping</td>
                <td class="table-header">Name</td>
                <td class="table-header">LongName</td>
                <td class="table-header">Color</td>
                <!--<td class="table-header">DisplayId</td>-->
                <td></td>
            </tr>

            <tr ng-repeat="extension in configextension.ExtensionsList"
                ng-include="'extensionlist.html'"
                ng-click="configextension.SelectExtensionRow(extension, $event)"
                class="table-content-row"></tr>

        </table>
    </div>

    <script type="text/ng-template" id="extensionlist.html">

        <td>{{extension.Grouping}} </td>
        <td>{{extension.Name}} </td>
        <td>{{extension.LongName}} </td>
        <td>{{extension.Color}} </td>
        <!--<td>{{extension.DisplayId}} </td>-->
        <td></td>

    </script>
</div>
