<d-config-menu da-selected-tab="font"></d-config-menu>

<div class="config">

    <!-- GRID -->
    <div>
        <div>
            <table class="jf-tbl">
                <colgroup>
                    <col style="width:157px" />
                    <col style="width:155px" />
                    <col style="width:155px" />
                    <col style="width:155px" />
                    <col style="width:180px" />
                </colgroup>

                <tr>
                    <td><input type="text" ng-model="configfont.SelectedItem.Grouping" style="width:150px" ng-readonly="configfont.SelectedItem.GroupingIsReadOnly" /></td>
                    <td><input type="text" ng-model="configfont.SelectedItem.Name" style="width:150px" ng-readonly="configfont.SelectedItem.NameIsReadOnly" /></td>
                    <td><input type="text" ng-model="configfont.SelectedItem.LongName" style="width:150px" /></td>
                    <td><input type="text" ng-model="configfont.SelectedItem.Color" style="width:150px" /></td>
                    <td>
                        <input type="button" value="Save" ng-click="configfont.SaveItem()" />
                        <input type="button" value="Delete" ng-click="configfont.DeleteItem()" />
                        <input type="button" value="Clear" ng-click="configfont.ClearEntryFields()" />
                    </td>
                </tr>


                <tr>
                    <td class="table-header">Grouping</td>
                    <td class="table-header">Name</td>
                    <td class="table-header">FontName</td>
                    <td class="table-header">Color</td>
                    <td class="table-header">Actions</td>
                </tr>

                <tr>
                    <td colspan="5">
                        <div class="jf-data-grid">
                            <table class="jf-tbl">
                                <colgroup>
                                    <col style="width:155px" />
                                    <col style="width:155px" />
                                    <col style="width:155px" />
                                    <col style="width:155px" />

                                </colgroup>

                                <tr ng-repeat="item in configfont.ItemsList"
                                    ng-include="'itemlist.html'"
                                    ng-click="configfont.SelectItemRow(item, $event)"
                                    class="table-content-row"></tr>
                            </table>
                        </div>

                    </td>
                </tr>

            </table>
        </div>

    </div>

    <!-- SELECTED ITEM DETAILS AREA -->
    <div>
        <link href='{{configfont.SelectedItem.Url}}' rel='stylesheet' type='text/css'>
        <table class="jf-tbldetail">
            <colgroup>
                <col />
                <col />
            </colgroup>
            <tr><td class="label">Grouping :</td><td>{{configfont.SelectedItem.Grouping}}</td></tr>
            <tr><td class="label">Name :</td><td>{{configfont.SelectedItem.Name}}</td></tr>
            <tr><td class="label">FontName :</td><td>{{configfont.SelectedItem.LongName}}</td></tr>
            <tr><td class="label">Color :</td><td>{{configfont.SelectedItem.Color}}</td></tr>
            <tr><td class="label">DisplayId :</td><td>{{configfont.SelectedItem.DisplayId}}</td></tr>
            <tr><td class="label">Url :</td><td><input type="text" ng-model="configfont.SelectedItem.Url" style="width:350px" /></td></tr>
            <tr><td class="label" >sample :</td><td><div style="width:350px;height:60px;" ng-style="{'font-family': configfont.SelectedItem.LongName}" value="" >Grumpy wizards make toxic brew for the evil Queen and Jack.</div></td></tr>
            <tr><td colspan="2"><br /></td></tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" value="Save" ng-click="configfont.SaveItem()" />
                </td>
            </tr>
        </table>
    </div>

</div>

<script type="text/ng-template" id="itemlist.html">
    <td><div class="jf-col1" ng-class="{'selected': item.IsSelected}">{{item.Grouping}}</div></td>
    <td>{{item.Name}} </td>
    <td>{{item.LongName}} </td>
    <td>{{item.Color}} </td>
</script>