<d-config-menu da-selected-tab="page"></d-config-menu>


<div class="config">

    <!-- GRID AREA -->
    <div>
        <table class="jf-tbl">
            <colgroup>
                <col style="width:157px" />
                <col style="width:155px" />
                <col style="width:155px" />
                <col style="width:155px" />
                <col style="width:180px" />
            </colgroup>

            <tr>
                <td><input type="text" ng-model="configpage.SelectedItem.Grouping" style="width:150px" ng-readonly="configpage.SelectedItem.GroupingIsReadOnly" /></td>
                <td><input type="text" ng-model="configpage.SelectedItem.Name" style="width:150px" ng-readonly="configpage.SelectedItem.NameIsReadOnly" /></td>
                <td><input type="text" ng-model="configpage.SelectedItem.LongName" style="width:150px" /></td>
                <td><input type="text" ng-model="configpage.SelectedItem.Color" style="width:150px" /></td>
                <td>
                    <input type="button" value="Save" ng-click="configpage.SaveItem()" />
                    <input type="button" value="Delete" ng-click="configpage.DeleteItem()" />
                    <input type="button" value="Clear" ng-click="configpage.ClearEntryFields()" />
                </td>
            </tr>


            <tr>
                <td class="table-header">Grouping</td>
                <td class="table-header">Name</td>
                <td class="table-header">LongName</td>
                <td class="table-header">Color</td>
                <td class="table-header">Actions</td>
            </tr>

            <tr>
                <td colspan="5">
                    <div class="jf-data-grid">
                        <table class="jf-tbl">
                            <colgroup>
                                <col style="width:154px" />
                                <col style="width:155px" />
                                <col style="width:155px" />
                                <col style="width:155px" />

                            </colgroup>

                            <tr ng-repeat="item in configpage.ItemsList"
                                ng-include="'itemlist.html'"
                                ng-click="configpage.SelectItemRow(item, $event)"
                                class="table-content-row"></tr>
                        </table>
                    </div>

                </td>
            </tr>

        </table>
    </div>


    <!-- SELECTED ITEM DETAILS AREA -->
    <div>
        <table class="jf-tbldetail">
            <colgroup>
                <col />
                <col />
            </colgroup>
            <tr><td class="label">Grouping :</td><td>{{configpage.SelectedItem.Grouping}}</td></tr>
            <tr><td class="label">Name :</td><td>{{configpage.SelectedItem.Name}}</td></tr>
            <tr><td class="label">LongName :</td><td>{{configpage.SelectedItem.LongName}}</td></tr>
            <tr><td class="label">Page Style :</td><td><textarea ng-model="configpage.SelectedItem.PageStyle" style="width:450px" rows="10"  /></td></tr>
            <tr><td class="label">Color :</td><td>{{configpage.SelectedItem.Color}}</td></tr>
            <tr><td class="label">DisplayId :</td><td>{{configpage.SelectedItem.DisplayId}}</td></tr>
            
            <tr><td class="label">Description :</td><td><input type="text" ng-model="configpage.SelectedItem.Description" style="width:250px" /></td></tr>
            <tr><td class="label">Fonts :</td><td style="font-size:10px; color:darkgray;">{{configpage.SelectedItem.Fonts}}</td></tr>
            <tr style="vertical-align:top;"><td class="label"></td><td><div><d-font-picker da-group="default" da-is-multiple-selection="true"></d-font-picker></div></td></tr>
            <tr><td colspan="2"><br /></td></tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" value="Save" ng-click="configpage.SaveItem()" />
                </td>
            </tr>
        </table>
    </div>


    
</div>

<d-config-footer></d-config-footer>

<script type="text/ng-template" id="itemlist.html">
    <td><div class="jf-col1" ng-class="{'selected': item.IsSelected}">{{item.Grouping}}</div></td>
    <td>{{item.Name}} </td>
    <td>{{item.LongName}} </td>
    <td>{{item.Color}} </td>
</script>