<div class="config">
    <div>
        <a href="/#/config">Configuration</a>
    </div>

    <br />




    <div>
        <div>
            <table>
                <colgroup>
                    <col style="width:155px" />
                    <col style="width:155px" />
                    <col style="width:155px" />
                    <col style="width:155px" />
                    <!--<col style="width:250px"  />-->
                    <col style="width:255px" />
                </colgroup>

                <tr>
                    <td><input type="text" ng-model="configpage.SelectedItem.Grouping" style="width:150px" ng-readonly="configpage.SelectedItem.GroupingIsReadOnly" /></td>
                    <td><input type="text" ng-model="configpage.SelectedItem.Name" style="width:150px" ng-readonly="configpage.SelectedItem.NameIsReadOnly" /></td>
                    <td><input type="text" ng-model="configpage.SelectedItem.LongName" style="width:150px" /></td>
                    <td><input type="text" ng-model="configpage.SelectedItem.Color" style="width:150px" /></td>
                    <!--<td><input type="text" ng-model="configpage.SelectedItem.DisplayId" style="width:250px" /></td>-->
                    <td>
                        <input type="button" value="Save" ng-click="configpage.SaveItem()" />
                        <input type="button" value="Delete" ng-click="configpage.DeleteItem()" />
                        <input type="button" value="Clear" ng-click="configpage.ClearEntryFields()" />
                    </td>
                </tr>


                <tr>
                    <td class="table-header">Grouping</td>
                    <td class="table-header">Name</td>
                    <td class="table-header">LongName</td>
                    <td class="table-header">Color</td>
                    <!--<td class="table-header">DisplayId</td>-->
                    <td class="table-header">Actions</td>
                </tr>

                <tr>
                    <td colspan="5">
                        <div class="jf-data-grid">
                            <table>
                                <colgroup>
                                    <col style="width:155px" />
                                    <col style="width:155px" />
                                    <col style="width:155px" />
                                    <col style="width:155px" />

                                </colgroup>

                                <tr ng-repeat="item in configpage.ItemsList"
                                    ng-include="'itemlist.html'"
                                    ng-click="configpage.SelectItemRow(item, $event)"
                                    class="table-content-row"></tr>
                            </table>
                        </div>

                    </td>
                </tr>




            </table>
        </div>

        <script type="text/ng-template" id="itemlist.html">

            <td>{{item.Grouping}} </td>
            <td>{{item.Name}} </td>
            <td>{{item.LongName}} </td>
            <td>{{item.Color}} </td>
            <!--<td>{{item.DisplayId}} </td>-->

        </script>
    </div>
</div>
