<d-config-menu da-selected-tab="service"></d-config-menu>

<div class="config">
    <div>
        <a href="/#/config">Configuration</a>
    </div>

    <br />


    <!-- GRID AREA -->
    <div>
        <table class="jf-tbl">
            <colgroup>
                <col style="width:157px" />
                <col style="width:155px" />
                <col style="width:155px" />
                <col style="width:155px" />
                <col style="width:180px" />
            </colgroup>

            <tr>
                <td><input type="text" ng-model="configservice.SelectedItem.Grouping" style="width:150px" ng-readonly="configservice.SelectedItem.GroupingIsReadOnly" /></td>
                <td><input type="text" ng-model="configservice.SelectedItem.Name" style="width:150px" ng-readonly="configservice.SelectedItem.NameIsReadOnly" /></td>
                <td><input type="text" ng-model="configservice.SelectedItem.LongName" style="width:150px" /></td>
                <td><input type="text" ng-model="configservice.SelectedItem.Color" style="width:150px" /></td>
                <td>
                    <input type="button" value="Save" ng-click="configservice.SaveItem()" />
                    <input type="button" value="Delete" ng-click="configservice.DeleteItem()" />
                    <input type="button" value="Clear" ng-click="configservice.ClearEntryFields()" />
                </td>
            </tr>


            <tr>
                <td class="table-header">Grouping</td>
                <td class="table-header">Name</td>
                <td class="table-header">LongName</td>
                <td class="table-header">Color</td>
                <td class="table-header">Actions</td>
            </tr>

            <tr>
                <td colspan="5">
                    <div class="jf-data-grid">
                        <table class="jf-tbl">
                            <colgroup>
                                <col style="width:154px" />
                                <col style="width:155px" />
                                <col style="width:155px" />
                                <col style="width:155px" />
                            </colgroup>

                            <tr ng-repeat="item in configservice.ItemsList"
                                ng-include="'itemlist.html'"
                                ng-click="configservice.SelectItemRow(item, $event)"
                                class="table-content-row"></tr>
                        </table>
                    </div>

                </td>
            </tr>

            <tr class="table-filter">
                <td><select ng-click="configservice.GroupingChanged(item, $event)" ng-model="configservice.SelectedGrouping" ng-options="grouping.name for grouping in configservice.GroupingsList"></select></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </table>
    </div>


    <!-- SELECTED ITEM DETAILS AREA -->
    <div>
        <table class="jf-tbldetail">
            <colgroup>
                <col />
                <col />
            </colgroup>
            <tr><td class="label">Grouping :</td><td>{{configservice.SelectedItem.Grouping}}</td></tr>
            <tr><td class="label">Name :</td><td>{{configservice.SelectedItem.Name}}</td></tr>
            <tr><td class="label">LongName :</td><td>{{configservice.SelectedItem.LongName}}</td></tr>
            <tr><td class="label">Color :</td><td>{{configservice.SelectedItem.Color}}</td></tr>
            <tr><td class="label">DisplayId :</td><td>{{configservice.SelectedItem.DisplayId}}</td></tr>
            <tr><td class="label">Url :</td><td><input type="text" ng-model="configservice.SelectedItem.Url" style="width:250px" /></td></tr>
            <tr><td class="label">Description :</td><td><input type="text" ng-model="configservice.SelectedItem.Description" style="width:250px" /></td></tr>
            <tr><td class="label">Account Name :</td><td><input type="text" ng-model="configservice.SelectedItem.AccountName" style="width:350px" /></td></tr>
            <tr><td class="label">Account Key :</td><td><input type="text" ng-model="configservice.SelectedItem.AccountKey" style="width:350px" /></td></tr>
            <tr><td colspan="2"><br /></td></tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" value="Save" ng-click="configservice.SaveItem()" />
                </td>
            </tr>
        </table>
    </div>

</div>
<script type="text/ng-template" id="itemlist.html">
    <td><div class="jf-col1" ng-class="{'selected': item.IsSelected}">{{item.Grouping}}</div></td>
    <td>{{item.Name}} </td>
    <td>{{item.LongName}} </td>
    <td>{{item.Color}} </td>
</script>


