
<!--<d-config-menu da-selected-tab="explorer"></d-config-menu>-->


<d-file-storage-picker da-left="0" da-bottom="50px" da-top="50px" da-width="220px" da-cn=""></d-file-storage-picker>


<d-file-storage-billboard 
        da-hide-numbers="false"
        da-height="300px" da-width="500px"  
        da-item-height="300px" da-item-width="500px" 
        da-left="220px" da-top="50px" da-cn=""></d-file-storage-billboard>

    

<d-file-storage-list 
        da-item-height="140px" 
        da-right="0" da-left="220px" da-bottom="50px" da-top="380px" 
        da-is-multiple-selection="true" da-cn=""></d-file-storage-list>

    

<d-file-upload da-dock="bottomright" da-cn=""></d-file-upload>

