<d-config-menu da-selected-tab="splash"></d-config-menu>



<table style="width:100%;">
    <colgroup>
        <col />
        <col style="width:500px;" />
        <col style="width:300px;" />
        <col />
    </colgroup>
    <tr style="vertical-align:top">
        <td></td>
        <td>
            <table style="width:100%;">
                <tr><td><d-page-lite></d-page-lite></td></tr>
                <tr><td><d-extension-full></d-extension-full></td></tr>
            </table>
        </td>
        <td>
            <table>
                <tr><td><d-banner-square></d-banner-square></td></tr>
                <tr><td><d-pages-list></d-pages-list></td></tr>
                <tr><td><d-extension-lite></d-extension-lite></td></tr>
            </table>
        </td>
        <td></td>
    </tr>
</table>



<d-public-footer></d-public-footer>