html{
    overflow:hidden;
}

body {
    background-color: #3b3b3b;
    color: white;
    font-family: Arial;
    margin:0;
    padding:0;

}

.main-view {
}

    .main-view .resized-full-area {
        width: 100%;
        height: 100%;
    }


    .main-view .Absolute-Center-headphones {
        width: 103px;
        height: 100px;
        overflow: hidden;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
        .main-view .Absolute-Center-headphones img {
            width:95%;
            opacity:0.7;
        }
    .main-view .Absolute-Center-onitsway {
        width:185px;
        text-align:center;
        height: 40px;
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 130px;
        left: 0;
        bottom: 0;
        right: 0;
        font-size:x-large;
        display:none;
    }

    .main-view .Absolute-Bottom-Left {
        font-family: 'Arimo';
        font-size:28px;
        margin: auto;
        position: absolute;
        bottom:10px;
        left:10px;
    }

    .main-view .Absolute-Bottom-Right {

        font-family: 'Oswald';
        margin: auto;
        position: absolute;
        bottom:10px;
        right:10px;
    }

    .main-view .Absolute-Bottom-Center {
        width:200px;
        font-family: 'Arimo';
        margin: auto;
        color:white;
        position: absolute;
        bottom:5px;
        left:0;
        right:0;
        font-size:10px;
        opacity:0.2;
    }

        .main-view .Absolute-Bottom-Center a {
            text-decoration:none;
            color:white;
        }

            .main-view .Absolute-Bottom-Center a::selection {
                color:white;
            }

    .main-view .header-1 {
        font-family: 'Lobster', cursive;    
    }

    .main-view .header-2 {
        font-family: 'Oswald'; 
    }

    .main-view .header-3 {
        font-family: 'Arimo'; 
    }

    .main-view .header-4 {
        font-family: 'Bangers', cursive; 
    }